[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
flask = "*"
pylint = "*"
autopep8 = "*"
flake8 = "*"
flask-swagger-ui = "*"

[requires]
python_version = "3.7"
